@font-face {font-family: "coreiconfont";
  src: url('iconfont.eot?t=1477451386'); /* IE9*/
  src: url('iconfont.eot?t=1477451386#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477451386') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477451386') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477451386#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477451386'); /* IE9*/
  src: url('iconfont.eot?t=1477451386#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477451386') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477451386') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477451386#iconfont') format('svg'); /* iOS 4.1- */
}

.coreiconfont {
  font-family:"coreiconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bitian:before { content: "\e635"; }
.icon-down:before { content: "\e60c"; }
.icon-up:before { content: "\e60d"; }
.icon-yidong:before { content: "\e64c"; }
.icon-xuanze:before { content: "\e63e"; }
.icon-yuan:before { content: "\e620"; }
.icon-false-circle:before { content: "\e648"; }
.icon-bitianxiang:before { content: "\e650"; }
.icon-gerenxinxishoujihaoma:before { content: "\e63a"; }
.icon-accountcircle:before { content: "\e618"; }
.icon-add:before { content: "\e600"; }
.icon-arttrack:before { content: "\e601"; }
.icon-arrowdropdown:before { content: "\e602"; }
.icon-arrowdropup:before { content: "\e605"; }
.icon-brokenimage:before { content: "\e639"; }
.icon-brightness1:before { content: "\e627"; }
.icon-check:before { content: "\e636"; }
.icon-checkbox:before { content: "\e606"; }
.icon-checkboxoutlineblank:before { content: "\e607"; }
.icon-close:before { content: "\e608"; }
.icon-contentpaste:before { content: "\e64a"; }
.icon-create:before { content: "\e628"; }
.icon-daterange:before { content: "\e609"; }
.icon-delete:before { content: "\e60a"; }
.icon-eventavailable:before { content: "\e642"; }
.icon-exittoapp:before { content: "\e60b"; }
.icon-draghandle:before { content: "\e60e"; }
.icon-eject:before { content: "\e63d"; }
.icon-email:before { content: "\e63c"; }
.icon-erroroutline:before { content: "\e63b"; }
.icon-fibernew:before { content: "\e60f"; }
.icon-expandless:before { content: "\e610"; }
.icon-expandmore:before { content: "\e611"; }
.icon-filtercenterfocus:before { content: "\e64b"; }
.icon-flip:before { content: "\e629"; }
.icon-keyboardarrowleft:before { content: "\e612"; }
.icon-keyboardarrowright:before { content: "\e614"; }
.icon-librarybooks:before { content: "\e615"; }
.icon-localpharmacy:before { content: "\e616"; }
.icon-map:before { content: "\e62a"; }
.icon-nature:before { content: "\e62b"; }
.icon-morevert:before { content: "\e62c"; }
.icon-notifications:before { content: "\e617"; }
.icon-pausecirclefilled:before { content: "\e619"; }
.icon-person:before { content: "\e62d"; }
.icon-playcirclefilled:before { content: "\e61a"; }
.icon-radiobuttonchecked:before { content: "\e623"; }
.icon-radiobuttonunchecked:before { content: "\e624"; }
.icon-search:before { content: "\e61b"; }
.icon-send:before { content: "\e643"; }
.icon-settingsapplications:before { content: "\e61c"; }
.icon-star:before { content: "\e62e"; }
.icon-staroutline:before { content: "\e62f"; }
.icon-toc:before { content: "\e630"; }
.icon-trackchanges:before { content: "\e631"; }
.icon-trendingup:before { content: "\e632"; }
.icon-viewquilt:before { content: "\e64f"; }
.icon-videocam:before { content: "\e61d"; }
.icon-viewcomfortable:before { content: "\e61e"; }
.icon-web:before { content: "\e61f"; }
.icon-chinamobile:before { content: "\e622"; }
.icon-yes:before { content: "\e649"; }
.icon-2:before { content: "\e603"; }
.icon-3:before { content: "\e604"; }
.icon-6:before { content: "\e613"; }
.icon-zhinenghuayingxiaopingtai:before { content: "\e621"; }
.icon-21:before { content: "\e625"; }
.icon-shape:before { content: "\e626"; }
.icon-combinedshape:before { content: "\e633"; }
.icon-shape1:before { content: "\e634"; }
.icon-combinedshape1:before { content: "\e637"; }
.icon-iconyihuifu:before { content: "\e638"; }
.icon-tijiaoshenqing:before { content: "\e63f"; }
.icon-jinggao:before { content: "\e64d"; }
.icon-tijiaoshenhede:before { content: "\e640"; }
.icon-shenhe:before { content: "\e641"; }
.icon-games:before { content: "\e645"; }
.icon-playarrow:before { content: "\e647"; }
.icon-pause:before { content: "\e644"; }
.icon-stop:before { content: "\e646"; }
.icon-641:before { content: "\e64e"; }
.icon-shishiyingxiaozhongxin:before { content: "\e652"; }
.icon-hunanyidongshishiyingxiaozhongxin:before { content: "\e651"; }
