<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.dao.CollegeDAO">
<!--type指定的是对应的实体类  -->
    <resultMap id="BaseResultMap" type="com.admin.bean.College" >
    <!-- id用来配置表的主键与类的属性的映射关系，column指定的是表的字段名，property指定的是类的属性名 -->	
	<id column="id" property="id"></id>
  <!-- result用来配置普通字段与类的属性的映射关系，column指定表的字段名，property指定类的属性名 -->
	<result column="id" property="id"/>
	<result column="abbr" property="abbr"/>
	<result column="fullname" property="fullname"/>
	<result column="intro" property="intro"/>
	<result column="url" property="url"/>
	<result column="image" property="image"/>
	</resultMap>
	
	<sql id="Base_Column_List" >
        id,abbr,fullname,intro,url,image
    </sql>
    <select id="queryCollegeById" resultMap="BaseResultMap" parameterType="String" >
        select
        <include refid="Base_Column_List" />
        from COLLEGE
        where id = #{id}
    </select>
	
		<select id="queryCollegePage" resultMap="BaseResultMap" parameterType="HashMap">
		select * from COLLEGE
		<where>
			<if test="keyword1!='' and keyword1!=null">and fullname like '%${keyword1}%'</if>
		</where>
		limit #{start},#{rows}
	</select>

	<select id="queryCollegePageCount" parameterType="HashMap" resultType="java.lang.Integer">
		select count(*) from COLLEGE
		<where>
			<if test="keyword1!='' and keyword1!=null">and fullname like '%${keyword1}%'</if>
		</where>
	</select>
	
	<select id="createCollegeId" parameterType="String" resultType="String">
		SELECT CONCAT((SELECT SUBSTR((SELECT MAX(t2.id) FROM college t2),1,3)+1),'0000')
	</select>

	<insert id="addCollege" parameterType="HashMap">
		INSERT INTO COLLEGE(id,abbr,fullname,intro,url,image) VALUES
		(#{id},#{abbr},#{fullname},#{intro},
		(SELECT CONCAT('community/mathBuild.action?collegeId=',#{id})),
		#{image}
		)
	</insert>

	<update id="updateCollege" parameterType="HashMap">
		update COLLEGE set abbr = #{abbr},fullname = #{fullname},intro = #{intro},image = #{image} where id = #{collegeId}
	</update>

	<delete id="deleteCollege" parameterType="String">
		delete from COLLEGE where id = #{collegeId}
	</delete>
	
	<select id="queryCollegeList" resultMap="BaseResultMap">
		select * from COLLEGE
	</select>
		
</mapper>