<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.dao.StudentDAO" >
<!--type指定的是对应的实体类  -->
    <resultMap id="BaseResultMap" type="com.admin.bean.Student" >
    <!-- id用来配置表的主键与类的属性的映射关系，column指定的是表的字段名，property指定的是类的属性名 -->
        <id column="stuNum" property="stuNum"/>
    <!-- result用来配置普通字段与类的属性的映射关系，column指定表的字段名，property指定类的属性名 -->
    	<result column="stuNum" property="stuNum"/>
        <result column="stuName" property="stuName"/>
        <result column="gender" property="gender"/>
        <result column="collegeId" property="collegeId"/>
        <result column="grade" property="grade"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="profession" property="profession"/>
        <result column="interest" property="interest"/>
        <result column="special" property="special"/>
        <result column="head" property="head"/>
    </resultMap>
    
    <select id="queryAllStudent" resultMap="BaseResultMap">
    	SELECT * FROM STUDENT
    </select>
    
    <select id="queryStudentByStuNum" resultMap="BaseResultMap" parameterType="String">
    	SELECT * FROM STUDENT where stuNum = #{stuNum}
    </select>
    
    <insert id="addStudentInfo" parameterType="com.admin.bean.Student">
    	insert into STUDENT values (#{stuNum},#{stuName},#{gender},#{collegeId},#{grade},#{email},#{phone},
    	#{profession},#{interest},#{special},#{head})
    </insert>
    
    <update id="updateStudentInfo" parameterType="com.admin.bean.Student">
    	update STUDENT set stuName = #{stuName},gender = #{gender},collegeId = #{collegeId},grade = #{grade},
    	email = #{email},phone = #{phone},profession = #{profession},interest = #{interest},special = #{special},head = #{head}
    	where stuNum = #{stuNum}
    </update>
    
    <delete id="deleteStudentInfo" parameterType="String">
    	delete from STUDENT where stuNum = #{stuNum}
    </delete>
</mapper>